<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img id="img-about" src="https://www.dropbox.com/s/ok1hmhpup49n6zy/Miui1.jpg?raw=1" class="img-responsive img-circle">
      </div>
      <div class="col-sm-8">
        <h2>Strange multipotential kind of</h2>
        <p>So where to start describing myself? Lot of interest indeed, time to time I pick one dig into it and pass by, yes next one. So live this paragraph open and I will figure out what to write and how to present!</p>
      </div>
    </div>
  </div>
</main>