<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mau</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
  </nav>
  <!--
  <div class="container">
    <div class="row">
      <h1 class="col-sm-4">Mau</h1>
      <nav class="col-sm-4 pull-right navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
  -->
</header>
  
<section class="jumbotron">
  <div class=container>
    <div class="row text-center">
      <h1>cool web application designer</h1>
      <button class="btn btn-default" type="button">View my Work</button>
    </div>
  </div>
</section>
  
<footer class="container-fluid">
  <div class="row">
    <p class="col-sm-4">&copy; 2016 Mau<p>
    <div class="col-sm-4">
      <img src="https://www.dropbox.com/s/xqtou7i49jkbri8/facebook.svg?raw=1">
      <img src="https://www.dropbox.com/s/zsvimlz6gg7ldhr/linedin.svg?raw=1">
    </div>
  </div>
</footer>
