// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image : url("https://www.dropbox.com/s/fi2cm2ggj5yxka9/venice.jpg?raw=1");
  background-size: cover;
  background-position: center;
  height: 700px;
  color: white;
  margin: 0;
}

footer {
  background-color: #A56158;
  height: 100px;
}

footer img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}

footer p {
  color: #F3D8CC;
}

footer .row {
  margin-top: 15px;
}

.navbar {
  margin: 0;
  border-radius: 0;
  border: none;
}

.navbar-default {
  background-color: #4B6D72;
}

.navbar-default .navbar-brand {
  color: #D8B4AB;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #D8B4AB;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.btn-default {
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 0;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: rgba(0,0,0,0.1);
  color: #F3D8CC;
  border-color: #F3D8CC;
}

.btn-default:active:focus {
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-color: #F3D8CC;
}

main .container {
  margin-top: 20px;
  height: 80vh;
}

.unslider-nav ol li {
  border-color: #4B6D72;
  opacity: .4;
  width: 8px;
  height: 8px;
}

.unslider-nav ol li.unslider-active {
  border-color: #4B6D72;
  background-color: #4B6D72;
  opacity: 1;
}