// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image : url("https://www.dropbox.com/s/z9u23j5j0p93mc5/photo-1452193550078-d7e45d3b834d_new.jpeg?raw=1");
  background-size: cover;
  height: 500px;
  color: #C1B0A6;
  //text-shadow: 0 2px 3px rgb(244,244,244);
}

footer {
  background-color: #142226;
}

footer img {
  width: 32px;
  height: 32px;
}

footer p {
  color: #5A7542;
}